@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

body {
    background: linear-gradient(360deg, #2e1858 0%, #000000 100%);
    color: white;
    overflow-x: hidden;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: auto auto;
    font-size: 1.2rem;
    font-weight: 700;
}

.navbar-brandname {
    cursor: pointer;
    color: white;
    transition: all .8s ease-in-out;
    text-align: center;
}

.navbar-brandname:hover {
    color: goldenrod;
}

.navbar-brandname::after {
    display: block;
    content: '';
    border: 2px solid whitesmoke;
    transform: scale(0);
    transition: transform 550ms ease-in-out;
}

.navbar-brandname:hover:after {
    transform: scale(1);
}

.page-links {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

}

.page-links div {
    color: #aca7a7;
    transition: all .8s ease-in-out;
    cursor: pointer;
}

.page-links div::after {
    display: block;
    content: '';
    border-bottom: solid 3px darkorchid;
    transform: scaleX(0);
    transition: transform 550ms ease-in-out;
}

.page-links div:hover {
    color: white;
}

.page-links div:hover:after {
    transform: scaleX(1);
}

.hamburger {
    display: none !important;
    z-index: 10;
}

.sliding-links {
    position: fixed;
    /* Keep it fixed on the screen */
    top: 0;
    z-index: 5;
    right: 0;
    overflow: hidden;
    display: flex;
    height: 100vh;
    backdrop-filter: blur(20px);
    width: 50vh;
    visibility: hidden;
    /* Initially hidden */
    opacity: 0;
    /* Start as fully transparent */
    transform: translateX(100%);
    /* Start off-screen to the right */
    flex-direction: column;
    gap: 10vh;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out, visibility 0s linear 1s;
    /* Smooth transition */
}

.sliding-links-effect {
    visibility: visible;
    /* Make it visible */
    opacity: 1;
    /* Fully opaque */
    transform: translateX(0);
    /* Slide into view */
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    /* Smooth transition */
}

.sliding-links div div {
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

.profcart div {
    display: flex;
    align-items: center;
}

.sliding-links div div::after {
    display: block;
    content: '';
    border-bottom: solid 3px darkorchid;
    transform: scaleX(0);
    transition: transform 550ms ease-in-out;
}

.sliding-links div {
    overflow: visible;
}

.sliding-links div div:hover {
    color: white;
}

.sliding-links div div:hover:after {
    transform: scaleX(1);
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.main p {
    /*   color: white; */
    font-size: 10vw;
    position: absolute;
    font-weight: bolder;
    /* transform: translate(-50%, -50%); */
    margin: 0;
}

.first {
    color: transparent;
    -webkit-text-stroke: 2px #05a8f3;
}

.second {
    color: #05a8f3;
    -webkit-text-stroke: 2px #05a8f3;
    animation: waves 4s ease-in-out infinite;
}

@keyframes waves {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 80vw;
    margin: 0 auto;
}

.container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icons div {
    border-radius: 50%;
    transition: transform 500ms ease-in-out;
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.icons div p{
    position: absolute;
    
}
.icons div:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.412);
}

@media (max-width: 768px) {
    .page-links {
        display: none;
    }

    .hamburger {
        display: flex !important;
        align-items: center;
        padding-bottom: 5px;
    }
    .main{
        height: 15vh;
    }
    p, ul li {
        font-size: 1rem;
    }
}

@media (max-width:380px) {
    .main{
        height: 10vh;
    }
}



body::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
    background: #6a5acd;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background: #836fff;
    /* Thumb color on hover */
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.412);
    border-radius: 5px;