@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(360deg, #2e1858 0%, #000000 100%);
    color: white;
    overflow-x: hidden;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: auto auto;
    font-size: 1.2rem;
    font-weight: 700;
}

.navbar-brandname {
    cursor: pointer;
    color: white;
    transition: all .8s ease-in-out;
    text-align: center;
}

.navbar-brandname:hover {
    color: goldenrod;
}

.navbar-brandname::after {
    display: block;
    content: '';
    border: 2px solid whitesmoke;
    transform: scale(0);
    transition: transform 550ms ease-in-out;
}

.navbar-brandname:hover:after {
    transform: scale(1);
}

.page-links {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

}

.page-links div {
    color: #aca7a7;
    transition: all .8s ease-in-out;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.page-links .item6 .length{
    position: absolute !important;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(165, 17, 17);
    padding:1px 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
}
.page-links div::after {
    display: block;
    content: '';
    border-bottom: solid 3px darkorchid;
    transform: scaleX(0);
    transition: transform 550ms ease-in-out;
}

.page-links div:hover {
    color: white;
}

.page-links div:hover:after {
    transform: scaleX(1);
}

.hamburger {
    display: none !important;
    z-index: 10;
}

.heading {
    color: goldenrod;
    font-size: 1.2rem;
    font-weight: 700;
}

.empty-image {
    grid-area: tasvir;
}

.empty-image img {
    width: 90%;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px rgb(255, 255, 255);
}

.empty-text {
    grid-area: khalihai;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-text p {
    font-family: "Bebas Neue", serif !important;
    font-size: 4vmax;
    text-align: center;
}

.empty {
    width: 100vw;
    display: grid;
    overflow: hidden;
    grid-template-columns: 40% 40%;
    justify-content: center;
    grid-template-areas: 'tasvir khalihai';
}

.empty-text .shopnow {
    border: none;
    background-color: rgb(0, 60, 255);
    padding: 1rem 2rem;
    border-radius: 8px;
    /* font-weight: bolder; */
    color: #fff;
    position: relative;
}

.shopnow::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: scaleX(0);
    transform-origin: left;
    z-index: 1;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.shopnow::after {
    content: ' ';
    position: relative;
    margin-left: 5px;
    font-weight: bolder;
    transition: transform 0.3s ease;
}

.empty-text .shopnow:hover::before {
    transform: scaleX(1);
}
.empty-text .shopnow:hover::after{
    content: '->';
}


.containerCart{
    width: 100vw;
    display: grid;
    grid-template-columns: 70% calc(30% - 1rem);
    grid-template-areas: 'contcart parchi';
    gap: 1rem;
    height: 80vh;
}
.containerCart>div{
    background-color: rgba(0, 0, 0, 0.405);;
    height:100%;
    border-radius: 10px;
    padding: 10px 1rem;
    overflow: auto;
    box-shadow: 0px 2px 4px 0px white;
}
.containerCart .cartItems{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: contcart;
}
.containerCart .recipt{
    grid-area: parchi;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.containerCart .recipt>div{
    display: flex;
    justify-content: space-between;
}
.containerCart .recipt .head, .containerCart .recipt .total{
    font-weight: bolder;
}
.containerCart .cartItems>div{
    display: flex;
    gap: 1rem;
    padding: .5rem;
}
.containerCart .cartItems .prodleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.containerCart .cartItems .prodleft .increase{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerCart .cartItems .prodleft .increase button{
    padding: .5rem 1rem;
    background-color: rgb(0, 89, 255);
    border-radius: 50%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prodimg img{
    width: 10rem;
    border-radius: 10px;
}
.containerCart .cartItems .prodright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.containerCart .cartItems .prodright .btnrem{
    display: flex;
    }
.containerCart .cartItems .prodright .btnrem button{
    padding: .5rem 1rem;
    background-color: rgb(0, 89, 255);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerCart .cartItems .prodright .prodetails .prodiscrip{
    width: 100%  ;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
}

.cartItems::-webkit-scrollbar {
    width: 10px;
}

.cartItems::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.cartItems::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.405);
    border-radius: 5px;
}

.cartItems::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: grab;
}
@media (max-width:1086px) {
    .containerCart{
        grid-template-areas: 'contcart'
        'parchi';
        grid-template-columns: 100%;
        height: 100vh;
    }
    .cartItems{
        /* width: 100vh; */
    }
}
@media (max-width:866px) {
    .empty{
        grid-template-columns: 90%;
        grid-template-areas: 'tasvir'
        'khalihai';
    }
    .empty-image img{
        width: 100%;
    }
    .empty-text{
        padding-top: 2rem;
    }
    .empty-text p{
        font-size: 4rem;
    }
    .shopnow{
        font-size: 2rem;
    }
}
@media (max-width:768px) {
    .navbar .page-links {
        display: none;
    }
    .hamburger{
        display: block !important;
    }
}

@media (max-width:658px) {
    .empty-text p{
        font-size: 3rem;
    }
    .shopnow{
        font-size: 1.5rem;
    };
    .containerCart{
        padding: 1rem;
    }
    .containerCart .cartItems .prodimg img{
        width: 8rem;
    }
    .prodleft{
        justify-content: space-between !important;
    }
    .increase button{
        font-size: 12px;
        padding: 5px 10px !important;
        border: none;
    }
    .btnrem button{
        font-size: 14px;
        padding: 5px 10px !important;
    }
    .prodiscrip{
        -webkit-line-clamp: 1 !important;
    }
}

@media (max-width:514px) {
    .empty-text p{
        font-size: 2rem;
    }
    .shopnow{
        font-size: 1.2rem;
    }
    .containerCart{
        padding: 1rem 12px;
    }
    .containerCart .cartItems{
        padding: 1rem 12px;
    }
}
@media (max-width:367px) {
    .empty{
        grid-template-columns: 100%;
    }
    .empty-text p{
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    .shopnow{
        font-size: 1.2rem;
    }
}

.displayNone{
    display: none !important;
}