@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

body{
    background: linear-gradient(360deg, #2e1858 0%, #000000 100%);
    color: white;
    overflow-x: hidden;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    /* position: fixed; */
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100vw;
    backdrop-filter: blur(5px);
}
.navbar {
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: auto auto;
    font-size: 1.2rem;
    font-weight: 700;
}

.navbar-brandname {
    cursor: pointer;
    color: white;
    transition: all .8s ease-in-out;
    text-align: center;
}

.navbar-brandname:hover {
    color: goldenrod;
}

.navbar-brandname::after {
    display: block;
    content: '';
    border: 2px solid whitesmoke;
    transform: scale(0);
    transition: transform 550ms ease-in-out;
}

.navbar-brandname:hover:after {
    transform: scale(1);
}

.page-links {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

}

.page-links div {
    color: #aca7a7;
    transition: all .8s ease-in-out;
    cursor: pointer;
}

.page-links div::after {
    display: block;
    content: '';
    border-bottom: solid 3px darkorchid;
    transform: scaleX(0);
    transition: transform 550ms ease-in-out;
}

.page-links div:hover {
    color: white;
}

.page-links div:hover:after {
    transform: scaleX(1);
}

.hamburger {
    display: none !important;
    z-index: 10;
}

.page-links .item6{
    display: flex;
    position: relative;
}
.page-links .item6 .length{
    position: relative;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: #1b8989;
    padding:1px 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    right:5px ;
}
.page-links .item6 a{
    position: relative;
    display: flex;
}
.sliding-links {
    position: fixed;
    /* Keep it fixed on the screen */
    top: 0;
    z-index: 5;
    right: 0;
    overflow: hidden;
    display: flex;
    height: 100vh;
    backdrop-filter: blur(20px);
    width: 50vh;
    visibility: hidden;
    /* Initially hidden */
    opacity: 0;
    /* Start as fully transparent */
    transform: translateX(100%);
    /* Start off-screen to the right */
    flex-direction: column;
    gap: 10vh;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out, visibility 0s linear 1s;
    /* Smooth transition */
}

.sliding-links-effect {
    visibility: visible;
    /* Make it visible */
    opacity: 1;
    /* Fully opaque */
    transform: translateX(0);
    /* Slide into view */
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    /* Smooth transition */
}

.sliding-links div div {
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

.profcart div {
    display: flex;
    align-items: center;
}

.sliding-links div div::after {
    display: block;
    content: '';
    border-bottom: solid 3px darkorchid;
    transform: scaleX(0);
    transition: transform 550ms ease-in-out;
}

.sliding-links div {
    overflow: visible;
}

.sliding-links div div:hover {
    color: white;
}

.sliding-links div div:hover:after {
    transform: scaleX(1);
}
.cardContainer .image{
    grid-area: image;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}
.cardContainer .image img{
    /* aspect-ratio:; */
    /* width: 100%; */
    height: 80vh;
    object-fit: cover;
    transition: 500ms all ease-in-out;
    border-radius: 8px;
}
.cardContainer .image img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.cardContainer .info{
    grid-area: info;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    background-color: #00000062;
}
.cardContainer .info .name{
    font-size: 2rem;
    font-weight: bold;
}
.cardContainer .info .rating{
    color: yellow;
}
.cardContainer .info .rate{
    font-size: 2rem;
    color: rgb(51, 245, 51);
}
.cardContainer .info .selectbtns{
    display: flex;
    gap: 10px;justify-content: center;
    padding: 1rem 0;
}
.cardContainer .info .selectbtns button{
    padding: .8rem 1.5rem;
    border: none;
    width: 50%;
    background-color: rgb(9, 155, 155);
}
.cardContainer .info .avail .avail-text1{
    padding: 1rem 0;
}
.cardContainer .info .avail-icon{
    display: flex;
justify-content: center;
gap: 10px;
text-align: center;
    font-size: 12px;
    padding-block: 1rem;
}
.cardContainer .info .avail-icon picture{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.cardContainer{
    display: grid;
    grid-template-columns: auto 48%;
    justify-content: center;
    gap: 1rem;
    grid-template-areas: 'image info';
    padding: .5rem 2rem;
}


@media (max-width: 768px) {
    .page-links {
        display: none;
    }

    .hamburger {
        display: flex !important;
        align-items: center;
        padding-bottom: 5px;
    }
    .sliding-links{
        width: 40vh;
    }
    .cardContainer{
        grid-template-areas: 'image' 'info';
        grid-template-columns: 100%;
    }
    .cardContainer .image img{
        width: 100%;
        height: auto;
    }
}

@media (max-width:556px) {
    .cardContainer{
        padding: .5rem;
    }
}

@media (max-width:350px) {
    .avail-icon figcaption{
        font-size: 10px;
    }
    .cardContainer{
        padding: .5rem;
    }
}