@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: "Poppins", serif;

}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
    /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(26, 26, 26);
}

::-webkit-scrollbar-track {
    background: #000000;
    /* color of the track behind the scrollbar */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* darker color when hovered */
    cursor: grab;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    overflow: hidden;
    font-weight: 700;
    width: 100vw;
}

#logo {
    border-radius: 50%;
    width: 10vw;
}

.nav-item1,
.nav-item2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.nav-item2 {
    gap: 1.5rem;
    font-size: 1rem;
}

.nav-item2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
    height: auto;
    font-size: 1rem;
    /* padding: 20px; */
    padding-top: 30px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid black;
}

.nav-item2 div i {
    font-size: 1.2rem;
}

.nav-item2 div p {
    color: #555;
    transition: all .8s ease-in-out;
}

.nav-item2 div:hover {
    border-bottom: 2px solid darkorchid;
}

.nav-item2 div:hover p {
    color: white;
    cursor: pointer;
}

.nav-item21 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-item21 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5vw;
    /* gap: .2rem; */
    color: gray;
    transition: all .1 s ease-in-out;
    cursor: pointer;
    border-bottom: 2px solid black;
}

.nav-item21 div p {
    transition: all .5s ease-in-out;
}

.nav-item21 div:hover {
    color: white;
    border-bottom: 2px solid darkorchid;
}

/*.slide-container {
    box-sizing: border-box;
    width: 100vw;
    height: 75vmin;
    overflow: hidden; /* Ensures no overflow outside the container} */

.sliding-images {
    width: 100%;
    height: 100%;
    /* Ensures the container height is consistent */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    /* Adds space between images */
}

.sliding-images div {
    flex: 1;
    /* Ensures each div grows/shrinks equally */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* Matches container height */
}

.sliding-images img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.page-links {
    width: 100vw;
    display: flex;
    padding: 1rem;
    /* padding-right: 0; */
    margin-top: 1rem;
    justify-content: space-between;
    color: gray;
    border-block: 2px solid darkorchid;
    box-sizing: border-box;
    overflow: hidden;
}

.page-links div {
    box-sizing: border-box;
    font-size: 1.5vw;
    border-bottom: 2px solid black;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    transition: all .5s ease-in-out;
}

.page-links div:hover {
    color: white;
    /* text-decoration: underline; */
    border-bottom: 2px solid darkorchid;
}

.showoff {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vmin;
    /* Full viewport height to center vertically */
    width: 100vw;
    /* Full viewport width */
}

.showoff div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/pic/showoff-bg.png") no-repeat center center;
    background-size: cover;
    width: 95%;
    height: 90%;
    position: relative;
}

.showoff div p {
    color: white;
    font-size: 4vw;
    /* Adjust the font size as needed */
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 0 13rem;
}

.redirector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 0px;
}

.redirector img {
    width: 48%;
    height: auto;
    cursor: pointer;
}

.redirector img:hover {
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.8);
}

.recommended {
    margin-block: 2rem;
    padding: 0rem 2rem;
    /* display: grid; */
    position: relative;
    width: 100vw;
    height: 75vh;
    height: auto;
    overflow: hidden;
}

.recommended h2 {
    position: relative;
    font-size: 2vmax;
}

.recommended .items {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    position: relative;
}

.recommended .items .card,
.recommended .items .card .info {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    cursor: pointer;
}

.recommended .items .card {
    position: absolute;
    margin-top: 1rem;
    width: 326px;
    padding: .5rem;
    height: 95%;
    top: 0;
    transition: all 1s ease-in-out;
    box-sizing: border-box;
}

.recommended .items .card .image {
    width: 100%;
    box-sizing: border-box;
    height: 75%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 326px; */
}

.recommended .items .card .image img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
}

.name {
    font-weight: 700;
}

.rate {
    color: green;
}

.info {
    padding-top: .5rem;
}

.left,
.right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    top: 200px;
}

.right {
    right: 2rem;
}

.left:hover,
.right:hover {
    background-color: rgba(255, 255, 255, 1);
}

.shop-by-brand {
    padding: 2rem 2rem;
    background-color: #151313;
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop-by-brand .shop-heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    overflow: hidden;
}

.shop-by-brand .shop-brands {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    box-sizing: border-box;
    /* Ensures padding doesn't overflow */
}

.shop-by-brand .shop-brands img {
    width: 23%;
    /* Makes sure images take full width of each grid cell */
    height: auto;
    cursor: pointer;
}

.best-seller {
    position: relative;
    padding: 0rem 2rem;
    background-color: #151313;
    width: 100vw;
    height: 75vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* align-items: center; 
    justify-content: center;  */
}

.best-seller-head {
    font-size: 2rem;
    font-weight: bold;
    /* align-items: normal; */
}

.best-seller-items {
    display: flex;
    width: 100%;
    height: 500px;
    position: relative;
}

.best-seller-items .card {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* margin-top: 1rem; */
    width: 326px;
    padding: .5rem;
    height: 95%;
    top: 0;
    transition: all 1s ease-in-out;
    box-sizing: border-box;
}

.best-seller-items .card .image {
    width: 100%;
    box-sizing: border-box;
    height: 75%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-seller-items .card .image img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
}

.best-seller-items .card .info {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
}

.info div {
    overflow: hidden;
}

.best-left,
.best-right {
    top: 30vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
}

.best-right {
    right: 2rem;
}

.best-left {
    left: 2rem;
}

.best-left:hover,
.best-right:hover {
    background-color: rgba(255, 255, 255, 1);
}

.movement-in-time {
    padding: 1rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movement-in-time p {
    font-size: 2rem;
    font-weight: bold;
    box-sizing: border-box;
}

.movement-grid .item1 {
    grid-area: mechanical;
}

.movement-in-time .movement-grid {
    display: grid;
    grid-template-areas: 'mechanical mechanical . .'
        'mechanical mechanical . .';
    gap: 10px;
    width: 95vw;
    align-content: center;
    padding-block: 12px;
}

.movement-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addToCart {
    padding: 14px 16px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    border: none;
    background-color: hsla(0, 0%, 100%, 0.151);
    color: rgb(170, 0, 255);
    cursor: pointer;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.addToCart:hover {
    background-color: hsla(0, 0%, 100%, 0.8);
}

.our-policies {
    margin-block: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.our-policies div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-policies div P {
    font-weight: bolder;
    font-size: 2.5vw;
    text-align: center;
}

.best-exp {
    padding-block: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #151414;
}

.best-exp-test {
    font-size: 2.5vw;
    font-weight: bold;
}

.best-exp-btn {
    padding: .5vw 1.5vw;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
        0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
        0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
    transition: 0.15s ease;
    border-radius: 0.5em;
    cursor: pointer;
    border: 0;
    background-color: white;
    color: #000000;
}

.best-exp-btn:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
        0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
        0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

.best-exp-create {
    padding: 10px;
}
.foot-about a{
    cursor: pointer;
    border: 2px solid transparent;
}
.foot-about a:hover{
    border: 2px solid wheat;
}
.foot-about a:first-child{
    background: #000000;
}
.foot-about a:last-child{
    background-color: rebeccapurple;
}



@media (max-width:1109px) {
    .showoff div {
        width: 95%;
        height: 30vh;
    }

    .showoff div p {
        padding: 0rem 7rem;
        font-size: 5vw;
    }
}

@media (max-width:600px) {
    #logo {
        width: 80px;
    }

    .nav-name {
        font-size: 24px;
    }

    .nav-item2 div {
        padding-block: 3px;
        font-size: 1rem;
        padding-top: 10px;
    }

    .nav-item2 div p {
        display: none;
    }

    .nav-item21 {
        display: none;
    }

    .showoff {
        height: auto;
        padding: 1rem;
    }

    .showoff div {
        width: 95%;
        height: 30vw;
        /* height: 100%; */
    }

    .showoff div p {
        padding: 0rem 13vw;
    }

    .recommended {
        padding: 0 1rem;
    }

    .recommended h2 {
        font-size: 1.5rem;
    }

    .redirector {
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 10px;
    }

    .redirector img {
        width: 90%;
    }

    .best-seller {
        align-items: center;
        justify-content: center;
        padding: 0rem 1rem;
    }

    .movement-grid .item2 {
        grid-area: item2;
    }

    .movement-grid .item3 {
        grid-area: item3;
    }

    .movement-grid .item4 {
        grid-area: item4;
    }

    .movement-grid .item5 {
        grid-area: item5;
    }

    .movement-in-time .movement-grid {
        display: grid;
        grid-template-areas: 'mechanical mechanical mechanical mechanical'
            'mechanical mechanical mechanical mechanical'
            'item2 item2 item3 item3'
            'item4 item4 item5 item5';
        gap: 10px;
        width: 95vw;
        align-content: center;
        padding-block: 12px;
    }
}

@media (max-width:590px) {
    .shop-by-brand {
        padding: 2rem 10px;
    }

    .shop-by-brand .shop-brands img {
        width: 30%;
    }
}

@media (max-width:504px) {
    .nav-item2 {
        gap: 10px;
    }

    .nav-item2 div {
        padding-top: 0;
    }

    .page-links {
        padding: 2vw;
        margin-top: 10px;
    }

    .page-links div {
        font-size: 2vw;
        font-weight: bolder;
    }

    .best-exp-test {
        font-size: 1rem;
        font-weight: bold;
    }
}

@media (max-width:392px) {

    #logo {
        width: 12vw;
    }

    .nav-name {
        font-size: 18px;
    }

    .nav-item1 {
        gap: 2px;
    }

}

@media (max-width:302px) {
    #logo {
        width: 12vw;
    }

    .nav-name {
        font-size: 5vw;
    }

    .our-policies {
        flex-direction: column;
    }

}